<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Hombre del Futuro</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>

   
    <div class="tarjeta">
        <h1>El Hombre del futuro</h1>
        <p class="destaque">Estilos aplicados</p>

        <img src="https://img.freepik.com/fotos-premium/futuro-tecnologia-concepto-personas-hombre-gafas-futuristas_380164-63330.jpg" 
             alt="El Hombre del futuro"
             class="imagen-futuro">
    </div>

</body>
</html>